.logAuth-header-background{
  background-color: rgba(211, 211, 211, 1);
}
.account-form {
  border: 1px solid grey;
  border-radius: 5px;
  width: 500px;
  margin: auto;
  margin-top: 30px;
  padding: 10px 20px;
  text-align: center;
}
.account-form input {
  padding-left: 10px;
  margin: 5px;
}
.fb-google-form p {
  text-align: center;
}
.fb-google-form {
  margin: auto;
  width: 300px;
}
.facebook {
  display: flex;
  border: 1px solid grey;
  border-radius: 25px;
  padding: 1px 15px;
  margin-right: 5px;
  align-items: center;
}
.google {
  display: flex;
  border: 1px solid grey;
  border-radius: 25px;
  padding: 1px 15px;
  margin-right: 5px;
  align-items: center;
}
